@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutAdAbout.cshtml";
}
<!doctype html>
<html lang="vi">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/starter/style-starter.css">
</head>
<body>

    <!-- about breadcrumb -->
    <section class="w3l-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about py-5">
            <div class="container pt-lg-5 pt-3 p-lg-4 pb-3">
                <h2 class="title mt-5 pt-lg-5 pt-sm-3">Liên hệ</h2>
                <ul class="breadcrumbs-custom-path pb-sm-5 pb-4 mt-2 text-center mb-md-5">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active"> / Contact us </li>
                </ul>
            </div>
        </div>
        <div class="waveWrapper waveAnimation">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none">
                <path d="M-5.07,73.52 C149.99,150.00 299.66,-102.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
            </svg>
        </div>
    </section>
    <section class="w3l-contact-1 pb-5" id="contact">
        <div class="contacts-9 py-lg-5 py-md-4">
            <div class="container">
                <div class="d-grid contact-view">
                    <div class="cont-details">
                        <h4 class="title-small">Get in touch</h4>
                        <h3 class="title-big mb-4">Liên hệ với chúng tôi</h3>
                        <p class="mb-sm-5 mb-4">Tìm kiếm với chúng tôi, tìm kiếm công việc 24/24. Hoàn toàn hợp lí với b</p>

                        <div class="cont-top">
                            <div class="cont-left text-center">
                                <span class="fa fa-map-marker text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Địa chỉ công ty</h6>
                                <p class="pr-lg-5"> 736 Nguyễn Trãi</p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-phone text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Gọi để hỗ trợ </h6>
                                <p><a href="tel:+84943280630">0943280630</a></p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-envelope-o text-primary"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Liên hệ để hỗ trợ</h6>
                                <p><a href="mailto:phuclh0318@dhv.edu.vn" class="mail">phuclh0318@dhv.edu.vn</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="map-content-9">
                        <h5 class="mb-sm-4 mb-3">Gửi đến chúng tôi</h5>
                        <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                            <div class="twice-two">
                                <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="Name"
                                       required="">
                                <input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Email"
                                       required="">
                            </div>
                            <div class="twice">
                                <input type="text" class="form-control" name="w3lSubject" id="w3lSubject"
                                       placeholder="Subject" required="">
                            </div>
                            <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Message"
                                      required=""></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-style mt-4">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /contact1 -->
    <div class="map-iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.75593188397!2d106.65818971471823!3d10.753284192337217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ef6ca551517%3A0xc331bdcaa0992e4b!2zNzM2IMSQLiBOZ3V54buFbiBUcsOjaSwgUGjGsOG7nW5nIDExLCBRdeG6rW4gNSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1655372723379!5m2!1svi!2s"
                width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
    </div>
    <!-- //contact block -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });</script>
    <!-- disable body scroll which navbar is in active -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });</script>
</body>
</html>